<h1>Editing
  <em><%= @article.title %></em>
</h1>
<%= form_for(@article) do |f| %><!--this is pulling from a different form?-->
<%= f.text_field :title %><br>
<%= f.text_field :author %><br>
<%= f.text_area :content %><br>

<%= f.submit 'Update Article' %>
<% end %>
