<h1>Register as a Writer</h1>


<%= form_for(@user) do |f| %>
  <%= f.text_field :first_name, placeholder: 'Enter your first name' %> <br>
  <%= f.text_field :last_name, placeholder: 'Enter your last name' %> <br>
  <%= f.email_field :email, placeholder: 'Enter your email', required: true %> <br>

  <%= f.password_field :password, placeholder: 'Create a Password', required: true %> <br>
  <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', required: true %> <br>

  <%= f.label :photo, 'Upload a photo' %> <br>
  <%= f.file_field :photo %> <br>
  <%= f.text_area :bio, placeholder: 'Write a quick bio' %> <br>
  <%= f.submit 'Register' %>
<% end %>
