<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<%= @user.photo.attachment.nil? ? "User has no photo" : image_tag(@user.photo, size: '200x150') %>
<p> You can reach <%= @user.first_name %> at <%= @user.email %>!</p>

<%= render 'profile' %>
